form {
  display: grid;
  grid-gap: 1vmin;
  grid-template-columns: repeat(2, minmax(auto, 80vmin));
  font-size: 1rem;
}

form * {
  padding: .5vmin;
  border-radius: .5vmin;
  font-size: 1.2rem;
}

form > input, form > textarea {
  border: .3vmin solid #040509;
}

input {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
}

textarea {
  height: 10rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
}

.button-59 {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  font-size: 1.2rem;
}