.left {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(ellipse at center, 
  #a5c9eb, #63a2dd);
}

h2 {
  margin: 4vmin;
}

#new-form{
  width: 80%;
  height: 50%;
}

.right {
  background-image: url(/images/burrowing-owl.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  height: 100%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
