.left {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  flex-direction: row;
}

h1 {
  margin: 0;
}

h2 {
  margin: 2vmin;
  text-align: center;
}

p {
  max-height: 70%;
  max-width: 85%;
  overflow: auto;
}

.right {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.list {
  height: 83%;
  justify-content: flex-start;
  background-color: #46830055;
  margin: 2vmin 2vmin 0 2vmin;
  overflow: auto;
}

ul {
  width: 80%;
  text-align: center;
  font-size: 22px;
  display: inline-block;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  height: 5vh;
}

.add-birds{
  margin-top: auto;
}

select {
  height: 48px;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

.button-59{
  margin: 2vmin;
}