.left {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  flex-direction: row;
}

h1 {
  margin: 0;
}

h2 {
  margin: 2vmin;
  text-align: center;
}

p {
  max-width: 85%;
}

.right {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
}

ul {
  width: 80%;
  text-align: center;
  font-size: 22px;
  display: inline-block;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  height: 5vh;
}

.add-birds{
  margin-top: auto;
}

select {
  height: 38px;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
}

.button-59{
  margin: 2vmin;
}

#x-btn {
  display: inline-block;
  width: 2vw;
  height: 3.5vh;
  background-color: #f6f6f6;
  border: 2px solid #040509;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

#x-btn:focus {
  color: #040509;
}

#x-btn:hover {
  border-color: #831a00;
  color: #831a00;
  fill: #831a00;
  cursor: pointer;
}

#x-btn:active {
  border-color: #831a00;
  color: #831a00;
  fill: #831a00;
}