<footer>
  <% if (user) { %>
    <form action="/auth/logout" method="GET">
      <input type="submit" value="LOG OUT" role="button" class="button-59" id="log-out">
  <% } %>
</footer>

</body>
</html>
