<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/nav') %>

<main>
  <div class="left">
    
  </div>
  <div class="right">
    <% if (user) { %>
      <a href="/records"><button>My Records</button></a>
      <a href="/birds"><button>My Life List</button></a>
      <a href="/records/new"><button>Add Record</button></a>
    <% } else { %>
      <h1>LIFE LIST (noun):</h1>
      <h3>a record of all birds sighted and identified by a birder</h3>
    <% } %>
  </div>
</main>
<section class="space">

</section>

<%- include('./partials/footer') %>
