<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/nav') %>

<main>
  <div class="left">
    
  </div>
  <div class="right">
    <% if (user) { %>
      <form action="/records" method="GET">
        <input type="submit" value="MY RECORDS" role="button" class="button-59">
      </form>
      <form action="/records/new" method="GET">
        <input type="submit" value="ADD RECORD" role="button" class="button-59">
      </form>
      <form action="/birds" method="GET">
        <input type="submit" value="MY LIFE LIST" role="button" class="button-59">
      </form>
    <% } else { %>
      <h1>LIFE LIST (noun):</h1>
      <h3>a record of all birds sighted and identified by a birder</h3>
    <% } %>
  </div>
</main>
<section class="space">

</section>

<%- include('./partials/footer') %>
