<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="left">
    <h3>big bird picture</h3>
  </div>
  <div class="right">
    <% if (user) { %>
      <a href="/records"><button>My Records</button></a>
      <a href="/birds"><button>My Life List</button></a>
      <a href="/records/new"><button>Add Record</button></a>
    <% } else { %>
      <h2>LIFE LIST (noun):</h2>
      <p>a record of all birds sighted and identified by a birder</p>
    <% } %>
  </div>
</main>
<section class="space">

</section>

<%- include('./partials/footer') %>
