.left {
  background-image: url(/images/puffin.jpeg);
  object-fit: fill;
  background-repeat: no-repeat;
  height: 100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

p {
  margin: 0;
  background-color: #040509;
  color: #f6f6f6;
  font-size: 22px;
  padding: 0 1vmin;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at center, 
  #a5c9eb, #63a2dd);
  width: 40vw;
}

.right > h3 {
  margin: 0;
}

nav > h4 {
  margin: 2vmin;
}

form {
  margin: 2vmin;
}