.left {
  background-image: url(/images/puffin.jpeg);
  object-fit: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.right {
  height: 100%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at center, 
  #b5d1eb, #63a2dd);
}

.right > h3 {
  margin: 0;
  max-width: 80%;
  text-align: center;
}

nav > h3 {
  margin: 2vmin;
}

form {
  margin: 2vmin;
}