html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #63a2dd;
  color: #040509;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Roboto Slab', serif;
  margin: 0;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  height: 10vh;
}

header > img {
  width: 8vmin;
  height: 8vmin;
  margin: 0 .7vmin;
}

header > h1 {
  width: 33vw;
}

.invisible {
  width: 34vw;
}

.profile, .log-in {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 33vw;
  margin: 0;
}
.log-in {
  margin: 0 2vmin;
}

.profile > img {
  border-radius: 50%;
  height: 7vmin;
  margin: 1vmin;
}

#g_id_onload {
  display: flex;
  justify-content: flex-end;
  width: 33vw;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 3vw 0 0;
  height: 9vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65vh;
}

.left {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.space {
  height: 6.5vh;
  background-color: #05315a;
}

footer {
  height: 9vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

label {
  font-weight: bold;
}

nav {
  background-color: #f6f6f6;
}

nav > a {
  margin: 1.5vmin 3vmin;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vmin;
}

nav > a:visited {
  color: #040509;
}

nav > a:hover {
  color: #040509;
  background-color: #46830055;
}

nav > a.active {
  color: #336000;
}

a {
  color: #05315a;
}

footer > form {
  margin: 2vmin;
}

.caption {
  margin: 0;
  background-color: #040509;
  color: #f6f6f6;
  font-size: 1rem;
  padding: 0 1vmin;
}

.button-59 {
  align-items: center;
  background-color: #f6f6f6;
  border: .3vmin solid #040509;
  border-radius: .3vmin;
  box-sizing: border-box;
  color: #040509;
  cursor: pointer;
  display: inline-flex;
  fill: #040509;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  height: 5vmin;
  justify-content: center;
  letter-spacing: -.06vmin;
  line-height: 1.5rem;
  min-width: 6vw;
  outline: 0;
  padding: 0 1.5vmin;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #040509;
}

.button-59:hover {
  border-color: #468300;
  color: #468300;
  fill: #468300;
}

.button-59:active {
  border-color: #468300;
  color: #468300;
  fill: #468300;
}

#x-btn {
  display: inline-block;
  width: 2vw;
  height: 3.5vh;
  background-color: #f6f6f6;
  border: .2vmin solid #040509;
  border-radius: .3vmin;
  font-family: 'Roboto Slab', serif;
  font-size: .5em;
}

#x-btn:focus {
  color: #040509;
}

#x-btn:hover {
  border-color: #831a00;
  color: #831a00;
  fill: #831a00;
  cursor: pointer;
}

#x-btn:active {
  border-color: #831a00;
  color: #831a00;
  fill: #831a00;
}

.paper {
  width: 70%;
  height: 50%;
  overflow-y: auto;
  background: #f6f6f6;
  box-shadow: 4px 4px 0 #00486B;
  background-image:
  linear-gradient(
    90deg,
    #f6f6f6 12px, 0,
    #00486B 15px, 0,
    #63a2dd 20px, 0,
    #f6f6f6 100%
    ),
    radial-gradient(
      circle closest-side,
      rgba(255,255,255,0) 88%,
      #f6f6f6 100%
      ),
      radial-gradient(
        circle at 22px 8px,
        #63a2dd 40%,
        #00486B 40%,
        #00486B 100%
        );
        background-size: 32px 8px, 32px 16px, 32px 16px;
        background-repeat: space no-repeat;
  background-position: center top, center 6px, center 6px;
  
  &--alt {
    background-image: linear-gradient(90deg, #fff 12px, 0, #00486B 15px, 0 ,#1373A9 20px, 0,#fff 100%),radial-gradient(circle closest-side,rgba(255,255,255,0) 88%,#fff 100%),radial-gradient(circle at 22px 8px,#1373A9 40%,#00486B 40%,#00486B 100%);
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 21'%3E%3Cpath d='M20 0h-7v6.9a7.5 7.5 0 107 0V0z' fill='%231373A9'/%3E%3Cpath d='M13 0h3v6.9a7.5 7.5 0 002 14 7.5 7.5 0 01-9-7.4c0-2.9 1.6-5.4 4-6.6V0z' fill='%2300486B'/%3E%3C/svg%3E");
    background-size: 2em 1.3125em;
  }
}