html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #8da6b4;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  height: 9vh;
}

header > h1 {
  width: 33vw;
}

.invisible {
  width: 34vw;
}

.profile {
  display: flex;
  justify-content: flex-end;
  width: 33vw;
}

#g_id_onload {
  display: flex;
  justify-content: flex-end;
  width: 33vw;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 8vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

.left {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.space {
  height: 9vh;
  background-color: white;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
}

pre {
  font-size: 14px;
}

nav > a {
  margin: 8px 24px;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 16px 0;
}

.link {
  padding: 12px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

.inline {
  display: inline;
}
